<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/adminLayout :: layout(~{::title}, ~{::main})}"
>
  <head>
    <title>Manage User</title>
  </head>
  <main>
    <div class="container column is-3">
      <div
        th:if="${successMessage}"
        class="notification is-success"
        th:text="${successMessage}"
      >
        Success Message Placeholder
      </div>
      <div
        th:if="${errorMessage}"
        class="notification is-danger"
        th:text="${errorMessage}"
      >
        Error Message Placeholder
      </div>
      <form th:action="@{add}" th:object="${addUserForm}" method="post">
        <!-- Username Field -->
        <div
          th:if="${#fields.hasGlobalErrors()}"
          class="notification is-danger is-light"
        >
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <div class="field">
          <label class="label" for="username">Username</label>
          <div class="control has-icons-left">
            <input
              id="username"
              class="input"
              type="text"
              placeholder="Username or Email"
              th:field="*{username}"
              autofocus="autofocus"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <!-- Validation Error Message -->
          <p
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            class="help is-danger"
          ></p>
        </div>

        <!-- Password Field -->
        <div class="field">
          <label class="label" for="password">Password</label>
          <div class="control has-icons-left">
            <input
              id="password"
              class="input"
              type="password"
              placeholder="Password"
              th:field="*{password}"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <p
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
              class="help is-danger"
            ></p>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="columns">
          <div class="column">
            <div class="control">
              <a class="button is-danger is-fullwidth" th:href="@{/admin/user}">
                <b>Cancel</b>
              </a>
            </div>
          </div>
          <div class="field column">
            <div class="control">
              <button type="submit" class="button is-success is-fullwidth">
                <b>Add User</b>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</html>
